body 
{
    background: #eeeeee;
    margin: 0;
    padding: 0;
    font: 12px normal Verdana, Arial, Helvetica, sans-serif;
    height: 100%;
    color:#888888;
}
* {margin: 0; padding: 0; outline: none;}

img {border: none;}

a
{ 
    text-decoration:none; 
    color:#00c6ff;
}

h1
{
    font: 3em normal Arial, Helvetica, sans-serif;
    padding: 20px;	margin: 0;
    text-align:center;
    color:#888888;
}

h1 small
{
    font-size: 0.5em;
    letter-spacing: 0.1em; line-height: 3em;
    display: block;
}


/* ---------------------------------- *
 *  Loading Spinner
 * ---------------------------------- */
#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #eeeeee;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.spinner {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #0;
    border-radius: 100%;
    border: 10px solid #888888;
    border-right-color: transparent;
    animation: spin 1s infinite linear;
}

/* Keyframe animation */
@keyframes spin
{
    0%    { transform: rotate(0deg);   opacity: 0.4; }
    50%   { transform: rotate(180deg); opacity: 1;   }
    100%  { transform: rotate(360deg); opacity: 0.4; }
}

/* Hide Loading Block */
.loaded {
    opacity: 0;
    visibility: hidden;
}
